<!--export to excel button-->
<div style="text-align:center">
  <button id="excelButton" type="button" pButton icon="pi pi-file-excel" iconPos="left" label="Export All Shifts Into One Excel" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
</div>

<!--first set of tables for shift 1-->
<div style="margin-left:15%; margin-right:15%; text-align:center">
  <h1 style="color: #e5d082;">Shift 1</h1>
  <!--table with all scheduled employees in shift 1-->
  <p-table #dt [columns]="scheduleShift1" [value]="scheduleShift1" sortField="jobName" sortMode="single" (onSort)="onSort(1)">
    <ng-template pTemplate="header" style="text-align:center">
      <tr style="font-size:16px">
        <th>Job</th>
        <th>Employee</th>
        <th>Restrictions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" style="text-align:center">
      <tr>
        <td *ngIf="rowGroupMetadata1[rowData.jobName].index === rowIndex" [attr.rowspan]="rowGroupMetadata1[rowData.jobName].size">
          {{rowData.jobName}}
        </td>
        <td>{{rowData.employeeName}}</td>
        <td>{{rowData.restrictions}}</td>
      </tr>
    </ng-template>
    <!--vacation table shown only if employees are on vacation for this shift-->
    <ng-template pTemplate="summary" style="background-color:black">
      <p-table [value]="vacations1" *ngIf="isVacation1">
        <ng-template pTemplate="caption">
          Vacations
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Employee Name</th>
            <th>Date Range</th>
            <th>Note</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vacations1>
          <tr>
            <td>{{vacations1.employeeName}}</td>
            <td>{{vacations1.dateRange}}</td>
            <td>{{vacations1.note}}</td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </p-table>
</div>

<!--first set of tables for shift 2-->
<div style="margin-left:15%; margin-right:15%; margin-top:3%; text-align:center">
  <h1 style="color: #e5d082;">Shift 2 </h1>
  <!--table with all scheduled employees in shift 2-->
  <p-table #dt1 [columns]="scheduleShift2" [value]="scheduleShift2" sortField="jobName" sortMode="single" (onSort)="onSort(2)">
    <ng-template pTemplate="header">
      <tr style="font-size:16px">
        <th>Job</th>
        <th>Employee</th>
        <th>Restrictions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr>
        <td *ngIf="rowGroupMetadata2[rowData.jobName].index === rowIndex" [attr.rowspan]="rowGroupMetadata2[rowData.jobName].size">
          {{rowData.jobName}}
        </td>
        <td>{{rowData.employeeName}}</td>
        <td>{{rowData.restrictions}}</td>
      </tr>
    </ng-template>
    <!--vacation table shown only if employees are on vacation for this shift-->
    <ng-template pTemplate="summary">
      <p-table [value]="vacations2" *ngIf="isVacation2">
        <ng-template pTemplate="caption">
          Vacations
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Employee Name</th>
            <th>Date Range</th>
            <th>Note</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vacations2>
          <tr>
            <td>{{vacations2.employeeName}}</td>
            <td>{{vacations2.dateRange}}</td>
            <td>{{vacations2.note}}</td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </p-table>
</div>

<!--first set of tables for shift 3-->
<div style="margin-left:15%; margin-right:15%; margin-top:3%; text-align:center">
  <h1 style="color: #e5d082;">Shift 3 </h1>
  <!--table with all scheduled employees in shift 3-->
  <p-table #dt3 [columns]="scheduleShift3" [value]="scheduleShift3" sortField="jobName" sortMode="single" (onSort)="onSort(3)">
    <ng-template pTemplate="header">
      <tr style="font-size:16px">
        <th>Job</th>
        <th>Employee</th>
        <th>Restrictions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr>
        <td *ngIf="rowGroupMetadata3[rowData.jobName].index === rowIndex" [attr.rowspan]="rowGroupMetadata3[rowData.jobName].size">
          {{rowData.jobName}}
        </td>
        <td>{{rowData.employeeName}}</td>
        <td>{{rowData.restrictions}}</td>
      </tr>
    </ng-template>
    <!--vacation table shown only if employees are on vacation for this shift-->
    <ng-template pTemplate="summary">
      <p-table [value]="vacations3" *ngIf="isVacation3">
        <ng-template pTemplate="caption">
          Vacations
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Employee Name</th>
            <th>Date Range</th>
            <th>Note</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vacations3>
          <tr>
            <td>{{vacations3.employeeName}}</td>
            <td>{{vacations3.dateRange}}</td>
            <td>{{vacations3.note}}</td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </p-table>
</div>

<!--vacation table for employees that are not scheduled-->
<div style="margin-left:15%; margin-right:15%; margin-top:3%; margin-bottom:3%; text-align:center" *ngIf="isVacationNotScheduled">
  <h1 style="color: #e5d082;">Not Scheduled</h1>
  <p-table [value]="vacationNotScheduled">
    <ng-template pTemplate="caption">
      Vacations
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Employee Name</th>
        <th>Date Range</th>
        <th>Note</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vacationNotScheduled>
      <tr>
        <td>{{vacationNotScheduled.employeeName}}</td>
        <td>{{vacationNotScheduled.dateRange}}</td>
        <td>{{vacationNotScheduled.note}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-toast position="top-center" life="500"></p-toast>
