<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\BartonApp.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    </system.webServer>
  </location>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
  <connectionStrings>
    <add name="BartonSchedulerConnectionString" connectionString="server=107.180.51.29;uid=sazerac_user;pwd=sazerac2019;database=sazerac;convert zero datetime=True"
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>