<!--This table seems more ideal-->
<p-table [value]="templates">
  <ng-template pTemplate="header">
    <tr>
      <th>Job</th>
      <th>Shift 1</th>
      <th>Shift 2</th>
      <th>Shift 3</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td>
        {{rowData.jobName}}
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.shift1" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.shift1}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.shift2" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.shift2}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.shift3" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.shift3}}
          </ng-template>
        </p-cellEditor>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div *ngIf="restrictions && restrictions.length > 0">
      <div *ngFor="let employee of restrictions">
        Clock Number: {{employee.clockNumber}}
        Reason: {{employee.reason}}
        Date Range: {{employee.dateRangeString}}
        Note: {{employee.note}}
      </div>
    </div>
    <div style="text-align:center">
      <button type="button" pButton icon="fa fa-plus" (click)="onAddJob()" label="Add/Remove Job"></button>
      <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add Vacation/Restriction"></button>
    </div>
  </ng-template>
</p-table>

<p-dialog header="Add Vacation/Restriction" [(visible)]="displayDialog" (onHide)="onExitDialog()" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '300px'}" [contentStyle]="{'overflow':'visible'}" [closable]="true">
  <div class="ui-g ui-fluid" *ngIf="employee">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="clockNumber">Clock Number</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="clockNumber" [(ngModel)]="employee.clockNumber" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="reason">Reason</label>
      </div>
      <div class="ui-g-8">
        <!--TODO: Should this be a drop down?-->
        <input pInputText id="reason" [(ngModel)]="employee.reason" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="dateRanges">Date Range</label>
      </div>
      <div class="ui-g-8">
        <p-calendar id="dateRanges" [(ngModel)]="employee.dateRanges" selectionMode="range" [readonlyInput]="true"></p-calendar>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="note">Note</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="note" [(ngModel)]="employee.note" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Add/Remove Job" [(visible)]="displayJobDialog" (onHide)="onHideAddJob()" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '300px'}" [contentStyle]="{'overflow':'visible'}" [closable]="true">
  <div class="ui-g ui-fluid" *ngIf="employee">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="job">Job</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="job" [(ngModel)]="jobAdd" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" (click)="onSaveJob()" label="Save"></button>
      <button type="button" pButton icon="fa fa-check" (click)="onRemoveJob()" label="Remove"></button>
    </div>
  </p-footer>
</p-dialog>

<div>
  <button class="button" id="runScheduler" (click)="onRunScheduler()">
    <span>Run Scheduler </span>
  </button>
</div>

