<p-toast position="top-center" life="500"></p-toast>
<p-table [value]="employees" dataKey="clockNumber" editMode="row" id="employees" [style]="{margin:'28px'}">
  <ng-template pTemplate="caption">
    <div>
      <!--TODO: how to get button on left and right-->
      <button type="button" pButton icon="pi pi-plus" (click)="onShowAddJobDialog()" label=" Add New Job" style="display: inline-block"></button>
      <button type="button" pButton icon="pi pi-plus" (click)="onShowAddDialog()" label=" Add New Employee" style="margin-left: 20%;margin-right: 20%;display: inline-block"></button>
      <!--<div style="margin-left: 20%;margin-right: 20%;display: inline-block;font-size: 20px;">Employees Table</div>-->
      <button type="button" pButton icon="pi pi-minus" class="ui-button-danger" (click)="onShowDeleteDialog()" label=" Delete Employee" style="display: inline-block"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>SeniorityNumber</th>
      <th>ClockNumber</th>
      <th>EmployeeName</th>
      <th>ShiftPreference</th>
      <th>JobName</th>
      <th>Restrictions</th>
      <th style="width:8em">Edit</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" style="text-align:center">
    <tr [pEditableRow]="rowData" style="text-align:center">
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.seniorityNumber" required>
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.seniorityNumber}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        {{rowData.clockNumber}}
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.employeeName">
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.employeeName}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.shiftPreference">
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.shiftPreference}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.jobName">
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.jobName}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="rowData.restrictions">
          </ng-template>
          <ng-template pTemplate="output">
            {{rowData.restrictions}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="text-align:center">
        <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
        <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
        <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="Add New Employee" [(visible)]="displayDialog" (onHide)="onHideDialog()" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '40%'}" [contentStyle]="{'overflow':'visible'}">
  <div class="ui-g ui-fluid" *ngIf="newEmployee" style="text-align: center">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="seniorityNumber">Seniority Number</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="seniorityNumber" [(ngModel)]="newEmployee.seniorityNumber" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="clockNumber">Clock Number</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="clockNumber" [(ngModel)]="newEmployee.clockNumber" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="employeeName">Employee Name</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="employeeName" [(ngModel)]="newEmployee.employeeName" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="shiftPreference">Shift Preference</label>
      </div>
      <div class="ui-g-8">
        <!--TODO: Should this be a drop down?-->
        <input pInputText id="shiftPreference" [(ngModel)]="newEmployee.shiftPreference" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="jobName">Job Name</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id="jobName" [options]="jobs" [(ngModel)]="selectedJob" placeholder="Select a Job" optionLabel="jobName"></p-dropdown>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center">
      <button type="button" pButton icon="fa fa-check" (click)="onAddNewEmployee()" label="Add New Employee"></button>
    </div>
  </p-footer>
</p-dialog>

<!--delete employee dialog and confirmation table-->
<p-dialog header="Delete Employee" [(visible)]="deletionDialog" [closable]="false" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '40%'}">
  <div class="ui-g ui-fluid" *ngIf="!confirmDeletion" style="text-align: center">
    <div class="ui-g-12">
      <div class="ui-g-8">
        <label for="clockNumber">Clock Number of employee to be deleted: </label>
      </div>
      <div class="ui-g-4">
        <input pInputText id="clockNumber" [(ngModel)]="deleteClockNumber" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4" style="text-align: center">
      </div>
      <div class="ui-g-4" style="text-align: center">
        <button type="button" pButton (click)="onConfirmDeletion()" label="Find"></button>
      </div>
      <div class="ui-g-4" style="text-align: center">
      </div>
    </div>
  </div>
  <div *ngIf="confirmDeletion">
    <div class="ui-g-12" style="text-align: center; font-size: 20px; color: red;">
      Seniority Number: {{deleteEmployee.seniorityNumber}}
    </div>
    <div class="ui-g-12" style="text-align: center; font-size: 20px; color: red;">
      Clock Number: {{deleteEmployee.clockNumber}}
    </div>
    <div class="ui-g-12" style="text-align: center; font-size: 20px; color: red;">
      Name: {{deleteEmployee.employeeName}}
    </div>
    <div class="ui-g-12" style="text-align: center; font-size: 20px; color: red;">
      Job Name: {{deleteEmployee.jobName}}
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center">
      <button type="button" pButton class="ui-button-warning" (click)="onCancelDelete()" label="Cancel" style="margin-right:5%"></button>
      <button type="button" pButton class="ui-button-danger" (click)="onDeleteEmployee()" label="Delete" [disabled]="!confirmDeletion" style="margin-left:5%"></button>
    </div>
  </p-footer>
</p-dialog>

<!--add new job-->
<p-dialog header="Add Job" [(visible)]="addJobDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '40%'}">
  <div class="ui-g ui-fluid" style="text-align: center">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="addJobName">New Job Name: </label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="addJobName" [(ngModel)]="addJobName" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center">
      <button type="button" pButton icon="pi pi-plus" (click)="onAddJob()" label="Add Job"></button>
    </div>
  </p-footer>
</p-dialog>
